%section
  .row
    .columns.small-6
      .panel-block
        %header
          Рейтинг тем
        .content
          %form.theme-search-form
            %i.icon.icon-search
            %input.search.radius{type: "text", placeholder: "Поиск"}
          %ul.themes-rating-list.no-bullet
            %li
              - @topics.each do |topic|
                - active_class = topic == @topic ? "active" : ''
                = link_to topic, {class: active_class} do
                  = topic.title
                  %span.round.alert.label.right
                    = topic.tweets.count
            %li
              %a.more-link.text-center{href: "#"}><
                Показать больше
                %i.icon.icon-arrow-bottom-gray
      .row
        .columns.small-6
          .panel-block
            %header
              Статистика
            %ul.no-bullet.soc-posts-list
              %li.item
                .post
                  За последние 5 минут:
                  = Tweet.count_for_last(5*60)
              %li.item
                .post
                  За последний час:
                  = Tweet.count_for_last(60*60)
              %li.item
                .post
                  За последние сутки:
                  = Tweet.count_for_last(24*60*60)
        .columns.small-6
          .panel-block.map-block
            %header
              Карта
            .content
              = image_tag "maps.png"
    .columns.small-6
      .panel-block
        %header
          Лента новостей, сообщений и твитов
        .content
          %ul.no-bullet.inline-list.soc-links-list
            %li
              %a.rs{href: "#"}
            %li
              %a.fb{href: "#"}
            %li
              %a.active.tw{href: "#"}
            %li
              %a.vk{href: "#"}
            %li
              %a.ok{href: "#"}
            %li
              %a.yt{href: "#"}
            %li
              %a.lj{href: "#"}
            %li
              %a.ma{href: "#"}
          %ul.no-bullet.soc-posts-list
            - @tweets = @topic && @topic.tweets || Tweet.all
            - @tweets.limit(10).each do |tweet|
              %li.item
                .date
                  = tweet.created_at
                .post
                  = tweet.tweet
