%section
  .row
    .columns.small-6
      .panel-block
        %header
          Рейтинг тем
        .content
          %form.theme-search-form
            %i.icon.icon-search
            %input.search.radius{type: "text", placeholder: "Поиск"}
          %ul.themes-rating-list.no-bullet
            %li
              - @topics.each do |topic|
                %a{href: "#"}
                  = topic.title
                  %span.round.alert.label.right
                    = topic.tweets.count
            %li
              %a.more-link.text-center{href: "#"}><
                Показать больше
                %i.icon.icon-arrow-bottom-gray
      .row
        .columns.small-6
          .panel-block
            %header
              Календарь
        .columns.small-6
          .panel-block.map-block
            %header
              Карта
            .content
              = image_tag "maps.png"
    .columns.small-6
      .panel-block
        %header
          Лента новостей, сообщений и твитов
        .content
          %ul.no-bullet.inline-list.soc-links-list
            %li
              %a.rs{href: "#"}
            %li
              %a.fb{href: "#"}
            %li
              %a.active.tw{href: "#"}
            %li
              %a.vk{href: "#"}
            %li
              %a.ok{href: "#"}
            %li
              %a.yt{href: "#"}
            %li
              %a.lj{href: "#"}
            %li
              %a.ma{href: "#"}
          %ul.no-bullet.soc-posts-list
            - @topics.first.tweets.limit(10).each do |tweet|
              %li.item
                .date
                  = tweet.created_at
                .post
                  = tweet.tweet
